.default{
    padding: 50px 0;
}
.default .section-title,
.default .section-desc{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}
.default .section-title{
    font-size: 20px;
    font-weight: 600;
}
.default .section-desc{
    font-size: 12px;
    color: #ccc;
    margin: 10px 0 40px 0;
}
.default .section-body{
    max-width: 1140px;
    margin: auto;

}
.default.light{
    background-color: #f7f7f7;
}
.default.light .section-title,
.default.light .section-body{
    color: #000;
}
.default.dark{
    background-color: #000;
}
.default.dark .section-title,
.default.dark .section-body{
    color: #fff;
}